# Ví dụ mẫu để lưu cấu hình, điền thông tin thật của em vào file secrets.yaml thật
tuya_ph_w218_device_id: "DIEN_DEVICE_ID_VAO_DAY"
tuya_ph_w218_local_key: "DIEN_LOCAL_KEY_VAO_DAY"
mqtt_broker_ip: "192.168.1.xxx"